/* line 1, ../sass/all.scss */
* {
  font-family: "Arial";
  color: #333333;
  margin: 0px;
}

/* line 7, ../sass/all.scss */
main {
  max-width: 720px;
  min-width: 320px;
  margin: auto auto;
  position: relative;
  padding: 20px 5px 0px 5px;
}

/* line 14, ../sass/all.scss */
.avatar-wrapper {
  position: absolute;
  width: 25%;
  top: 10px;
}
/* line 18, ../sass/all.scss */
.avatar-wrapper img {
  width: 100%;
  border-radius: 50%;
}

/* line 24, ../sass/all.scss */
.user-inform > * {
  width: 70%;
  padding-left: 30%;
}
/* line 28, ../sass/all.scss */
.user-inform .user-name {
  margin: 10px 0px;
}
/* line 31, ../sass/all.scss */
.user-inform .user-status {
  color: #808080;
  font-size: 0.8em;
  margin: 5px 0px;
}
/* line 36, ../sass/all.scss */
.user-inform .user-cloud {
  border: 1px solid #cecabf;
  border-radius: 1em;
  font-size: 0.9em;
  margin-left: 15%;
  padding: 5px 0px 5px 15%;
  margin-top: 20px;
  background: #fffbc8;
}

/* line 46, ../sass/all.scss */
.diagramm-wrapper {
  margin-top: 20px;
  padding-left: 30%;
  width: 70%;
  position: relative;
}
/* line 51, ../sass/all.scss */
.diagramm-wrapper .diagramm-header {
  width: 100%;
  text-align: right;
}
/* line 54, ../sass/all.scss */
.diagramm-wrapper .diagramm-header span {
  width: 20%;
  text-align: center;
  display: inline-block;
}
/* line 60, ../sass/all.scss */
.diagramm-wrapper .diagramm-area {
  margin: 15px 0px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 5px 0px;
  position: relative;
}
/* line 67, ../sass/all.scss */
.diagramm-wrapper .diagramm {
  list-style: none;
  padding: 0px;
}
/* line 70, ../sass/all.scss */
.diagramm-wrapper .diagramm li {
  line-height: 30px;
  text-align: right;
  display: flex;
  font-size: 0.9em;
}
/* line 75, ../sass/all.scss */
.diagramm-wrapper .diagramm li p {
  padding-left: 5px;
  width: 100%;
  text-align: left;
  background: -webkit-gradient(linear, left top, right top, color-stop(30%, #ace2f8), color-stop(30%, #FFF));
  background: -moz-linear-gradient(left center, #ace2f8 30%, #FFF 30%);
  background: -o-linear-gradient(left, #ace2f8 30%, #FFF 30%);
  background: linear-gradient(to right, #ace2f8 30%, #FFF 30%);
}
/* line 84, ../sass/all.scss */
.diagramm-wrapper .diagramm li span {
  width: 20%;
  text-align: center;
  font-weight: bold;
}
/* line 90, ../sass/all.scss */
.diagramm-wrapper .diagramm li:first-child p {
  background: -webkit-gradient(linear, left top, right top, color-stop(70%, #b1e19b), color-stop(40%, #FFF));
  background: -moz-linear-gradient(left center, #b1e19b 70%, #00F 40%);
  background: -o-linear-gradient(left, #b1e19b 70%, #00F 40%);
  background: linear-gradient(to right, #b1e19b 70%, white 40%);
}
/* line 96, ../sass/all.scss */
.diagramm-wrapper .diagramm li:last-child p {
  background: -webkit-gradient(linear, left top, right top, color-stop(15%, #ace2f8), color-stop(15%, #FFF));
  background: -moz-linear-gradient(left center, #ace2f8 15%, #FFF 15%);
  background: -o-linear-gradient(left, #ace2f8 15%, #FFF 15%);
  background: linear-gradient(to right, #ace2f8 15%, #FFF 15%);
}
/* line 102, ../sass/all.scss */
.diagramm-wrapper .diagramm li:not(:last-child) {
  margin-bottom: 4px;
}
/* line 106, ../sass/all.scss */
.diagramm-wrapper .border-line {
  width: 1px;
  position: absolute;
  height: calc(100% - 10px);
  background: rgba(0, 0, 0, 0.2);
  left: 0;
}
/* line 113, ../sass/all.scss */
.diagramm-wrapper .diagramm-total {
  display: flex;
  font-weight: bold;
  width: 100%;
}
/* line 117, ../sass/all.scss */
.diagramm-wrapper .diagramm-total span {
  width: 20%;
  text-align: center;
}
/* line 121, ../sass/all.scss */
.diagramm-wrapper .diagramm-total p {
  width: 80%;
}

/* line 126, ../sass/all.scss */
footer {
  margin-top: 20px;
}

/* line 129, ../sass/all.scss */
.posts-header {
  display: flex;
  margin-bottom: 20px;
}
/* line 132, ../sass/all.scss */
.posts-header .posts-count {
  text-align: right;
  width: 40%;
}
/* line 135, ../sass/all.scss */
.posts-header .posts-count span:first-child {
  margin-right: 10px;
}
/* line 138, ../sass/all.scss */
.posts-header .posts-count .posts-total img {
  position: relative;
  top: 3px;
}
/* line 142, ../sass/all.scss */
.posts-header .posts-count img {
  margin-right: 3px;
}
/* line 146, ../sass/all.scss */
.posts-header .posts-last {
  text-align: left;
  width: 60%;
}
/* line 149, ../sass/all.scss */
.posts-header .posts-last a {
  color: #3d77ae;
  font-size: 0.9em;
  margin-left: 10px;
}
/* line 154, ../sass/all.scss */
.posts-header .posts-last span {
  font-weight: bold;
}

/* line 159, ../sass/all.scss */
.single-post {
  margin-bottom: 15px;
}
/* line 162, ../sass/all.scss */
.single-post .post-inform .name {
  font-weight: bold;
  margin-right: 10px;
}
/* line 166, ../sass/all.scss */
.single-post .post-inform .post-data {
  font-size: 0.8em;
  color: #808080;
}
/* line 171, ../sass/all.scss */
.single-post .post {
  border: 1px solid #cfcfcf;
  background: #f2fbff;
  padding: 10px;
  position: relative;
  margin-top: 10px;
}
/* line 177, ../sass/all.scss */
.single-post .post:after {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 0 10px;
  border-color: transparent transparent transparent #f2fbff;
  top: -10px;
  left: 11px;
}
/* line 189, ../sass/all.scss */
.single-post .post:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 0 0 12px;
  border-color: transparent transparent transparent #cfcfcf;
  top: -12px;
  left: 10px;
}

/* line 203, ../sass/all.scss */
.add-post {
  width: 100%;
  background: #f2f2f2;
  text-align: center;
}
/* line 207, ../sass/all.scss */
.add-post textarea {
  border: 1px solid #a9a9a9;
  padding: 5px;
  width: calc(100% - 12px);
  height: 80px;
}
/* line 213, ../sass/all.scss */
.add-post .submit-button {
  width: 60%;
  background: #fdd639;
  border: none;
  color: #333333;
  padding: 10px 0px;
  margin-top: 10px;
  font-weight: bold;
  border-radius: 2em/2em;
}

@media screen and (max-width: 600px) {
  /* line 225, ../sass/all.scss */
  html {
    font-size: 3vw;
  }

  /* line 228, ../sass/all.scss */
  main {
    padding: 20px 10px 0px 10px;
  }

  /* line 231, ../sass/all.scss */
  .avatar-wrapper {
    width: 150px;
  }

  /* line 235, ../sass/all.scss */
  .user-inform > * {
    padding-left: 160px;
  }
  /* line 238, ../sass/all.scss */
  .user-inform .user-cloud {
    margin-left: 75px;
    padding-left: 85px;
    width: calc(100% - 160px);
  }
}
